/* Footer container */
.footer {
  color: white; /* Text Color */
  padding: 1rem; /* Space around the content */
  font-size: 0.9rem; /* Text size */
  align-items: center;
  display: flex;
  margin: 10px auto;
  height: 40px;
  bottom: 0px;
  letter-spacing: 0.5px;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
}

footer h4 {
  margin: 0 25px;
  font-weight: 1000;
}

.footerLinks {
  display: flex;
  width: 180px;
  font-size: 18px;
  justify-content: space-evenly;
}

.footerLinks a {
  text-decoration: none;
  color: inherit;
}

.footerLinks a:hover {
  scale: 2;
  transition: all ease-in-out 0.6s;
}
