/* Introduction Loader */
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.TypeEffect {
  font-weight: 500;
  font-size: 24px;
}
