/* App-layout: makes the page stretch to fukll height */
.app-layout {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children components vertically */
  min-height: 100vh; /* Minimum height of the viewport (full page) */
}
/* 100vh = 100% Viewport Height
   Basically says "Take up the full screen height" 
   Which also pushes footer to the absolute bottom */

/* Main content area: fills up the remaining vertical space */
.main-content {
  flex-grow: 1; /* This makes the content take all available space */
  padding: 2rem; /* Space inside the main area */
  background-color: transparent; /* Light brackground for contrast */
}

.year-page {
  padding: 2rem;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
